.background {
  backgroundcolor: "#24273f";
}
.text {
  color: "#ffffff";
}
.loadingstyle {
  width: 50;
  height: 50;
  border: "5px solid orange";
  border-top-color: "transparent";
  border-right-color: "transparent";
}
