body {
  margin: 0 auto;
  min-height: calc(100vh-0-60vh);
}
a li {
  margin-top: 5px;
}
a li:hover {
  transition: 0.5s;
  color: orange;
}
.navbar {
  border-bottom: 3px solid orange;
}
.footer {
  border-top: 3px solid orange;
}
