html,
body {
  height: 100%;
  background-color: #181a29;
}
.title,
.subtitle {
  color: #ffffff;
}
#root {
  background-color: #181a29;
}
a li {
  margin-top: 5px;
}
a li:hover {
  transition: 0.5s;
  color: #ffa500;
}
.container {
  min-height: 100%;
  padding-bottom: 130px;
}
.content a {
  margin-top: 10px;
}
@media screen and (max-width: 900px) {
  .container.is-fluid {
    padding: 0 0 130px 0;
    width: 100%;
  }
}
